﻿<div id="membersearch-page" class="search-page">
    <div class="padding">
        <div class="row nav-search">
            <div class="form-group margin-top-1rem col-lg col-md">
                <div id="col-username" class="float-left">
                    <label for="txtKeyword" class="form-control-label no-padding-left float-left text-right"><b>Tên đăng nhập: </b></label>
                    <div class="input-username float-left">
                        <input type="text" class="form-control" id="txtKeyword" placeholder="Tên đăng nhập" ng-model="filter.keyword">
                    </div>
                </div>

                <div id="col-dtpto" class="float-left">
                    <label for="txtKeyword" class="form-control-label" style="float:left; margin-left: 5px;"><b>Loại tài khoản: </b></label>
                    <div class="input-username float-left">
                        <select name="accountType" class="form-control" style="width:150px;">
                            <option value=" 0">Tất cả</option>
                            <option value="1">Merchant</option>
                            <option value="2">Agent</option>
                        </select>
                    </div>
                </div>

                <div id="col-search" class="float-left text-center" style="float:left; margin-left: 10px;">
                    <button class="btn danger" translate="btn.search" ng-click="searchClick()"></button>
                </div>
            </div>
        </div>

        <div class="row search-result">
            <div class="col-sm-8 no-padding">
                <b><span>Kết quả tìm kiếm:</span> <span ng-bind="paging.totalItems"></span></b>
            </div>
            <div class="col-sm-4 no-padding text-right">
                <button class="btn default glyphicon glyphicon-plus" ng-click="addnew()" data-toggle="collapse" data-target="#collapse-profile-iu"></button>
            </div>

            <div id="collapse-profile-iu" class="panel-collapse collapse">
                <div class="panel-body">
                    <md-content layout-padding>
                        <form name="userForm">
                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="page.member.search.username"></label>
                                    <input md-maxlength="30" required name="name" ng-model="profileModel.Username" />

                                    <div ng-messages="userForm.name.$error">
                                        <div ng-message="required">Username is required.</div>
                                        <div ng-message="md-maxlength">The name has to be less than 6 characters long.</div>
                                    </div>
                                </md-input-container>

                                <div flex="5" hide-xs hide-sm>
                                    <!-- Spacer //-->
                                </div>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="page.member.search.ssn"></label>
                                    <input name="social" ng-model="profileModel.Ssn" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{3}$/" required />

                                    <div ng-messages="userForm.social.$error">
                                        <div ng-message="pattern">###-###-### - Please enter a valid SSN.</div>
                                    </div>
                                </md-input-container>

                                <div flex="5" hide-xs hide-sm>
                                    <!-- Spacer //-->
                                </div>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="page.member.search.fullname"></label>
                                    <input name="email" ng-model="profileModel.Fullname"
                                           minlength="2" maxlength="64" />
                                </md-input-container>

                                <div flex="5" hide-xs hide-sm>
                                    <!-- Spacer //-->
                                </div>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="page.member.search.phoneNumber"></label>
                                    <input name="phone" ng-model="profileModel.PhoneNumber" ng-pattern="/^[0-9]{9}|[0-9]{10}$/" />

                                    <div ng-messages="userForm.phone.$error">
                                        <div ng-message="pattern">####- - Please enter a valid phone number.</div>
                                    </div>
                                </md-input-container>

                                <style>
                                    /*
                                    * The Material demos system does not currently allow targeting the body element, so this
                                    * must go here in the HTML.
                                    */
                                    body[dir=rtl] .hint {
                                        right: 2px;
                                        left: auto;
                                    }
                                </style>
                            </div>
                            <div layout-gt-sm="row">
                                <md-datepicker ng-model="profileModel.Birthday" md-placeholder="Birthday" id="birthday" style="margin-top:0.9%"></md-datepicker>

                                <div flex="5" hide-xs hide-sm>
                                    <!-- Spacer //-->
                                </div>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="page.member.search.address"></label>
                                    <input ng-model="profileModel.Address">
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">

                            </div>
                        </form>
                    </md-content>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 no-padding">
                <div class="box">
                    <div class="table-responsive margin-top-1rem">
                        <table class="table table-striped b-t">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th ng-click="sortBy('username')">Tên đăng nhập</th>
                                    <th ng-click="sortBy('AccountTypeId')">Loại tài khoản</th>
                                    <th>Email</th>
                                    <th>Đang sử dụng</th>
                                    <th>Cập nhật</th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in datas">
                                    <td ng-bind="$index + paging.currentItem"></td>
                                    <td class="breakword" ng-bind="acc.Username"></td>
                                    <td class="breakword" ng-bind="acc.AccountTypeId"></td>
                                    <td class="breakword"><span ng-bind="acc.Email"></span></td>
                                    <td ng-bind="acc.IsActive"></td>
                                    <td class="text-center">
                                        <span class="glyphicon glyphicon-pencil account-action" aria-hidden="true" ng-click="updateItem(item)"></span>
                                    </td>
                                    <td class="text-center">
                                        <span class="glyphicon glyphicon-remove account-action" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="removeItem(item)"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-include="'Views/shared/paging.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>