  <!-- aside -->
  <div id="aside" class="app-aside modal fade nav-dropdown" ng-class="{'folded': app.setting.folded}">
  	<!-- fluid app aside -->
    <div class="left navside dark dk" layout="column">
  	  <div class="navbar no-radius text-center">
        <div ui-include="'../views/shared/navbar.brand.html'"></div>
      </div>
      <div flex class="hide-scroll">
          <nav class="scroll nav-light">
            <div ui-include="'../views/shared/nav.html'"></div>
          </nav>
      </div>
    </div>  
  </div>
  <!-- / -->
  
  <!-- content -->
  <div id="content" class="app-content box-shadow-z0" role="main">
    <div class="app-header white box-shadow">
        <div ui-include="'../views/shared/header.html'"></div>
    </div>
    <div class="app-footer" ng-class="{'hide': $state.current.data.hideFooter}">
      <div ui-include="'../views/shared/footer.html'"></div>
    </div>
      <div class="app-body position-relative" id="view">
          <div ui-view></div>
          <div id="content-loading" ng-class="isContentLoading ? 'loader-visible' : 'loader-invisible'" class="wrap-loader" ng-include="'/Views/shared/_loader.html'"></div>
      </div>
  </div>
  <!-- / -->
