<div class="row-col">
  <div class="col-sm w w-auto-xs light lt bg-auto">
    <div class="padding pos-rlt">
      <div>
        <button class="btn btn-sm white pull-right hidden-sm-up" ui-toggle-class="show" target="#inbox-menu"><i class="fa fa-bars"></i></button>
        <a ui-sref="app.inbox.compose" class="btn btn-sm white w-xs">SOẠN</a>
      </div>
      <div class="hidden-xs-down m-t" id="inbox-menu">
        <div class="nav-active-{{app.setting.theme.primary}}">
          <div class="nav nav-pills nav-sm">
              <a class="nav-link" ui-sref="app.inbox.list({fold:fold.filter})" ng-repeat="fold in folds" ui-sref-active="active">
                {{fold.name}}
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div ui-view class="padding fade-in"></div>
  </div>
</div>
