﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Admin Managerment</title>
    <meta name="description" content="okFree management, Nexlesoft" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="/Content/assets/images/logo.png">
    <meta name="apple-mobile-web-app-title" content="okFree management">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="/Content/assets/images/logo.png">

    <!-- style -->
    <link rel="stylesheet" href="/Content/assets/animate.css/animate.min.css" type="text/css" />
    <link rel="stylesheet" href="/Content/assets/angular-material/angular-material.css" type="text/css"/> 
    <link rel="stylesheet" href="/Content/assets/glyphicons/glyphicons.css" type="text/css" />
    <link rel="stylesheet" href="/Content/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/Content/assets/material-design-icons/material-design-icons.css" type="text/css" /> 

    <link rel="stylesheet" href="/Content/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <link href="/Content/assets/angular-block-ui/angular-block-ui.min.css" rel="stylesheet" />
    <link href="/Content/assets/angular-ng-alertify/alertify.css" rel="stylesheet" />
    <link href="/Content/assets/bootstrap-datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="/Scripts/libs/jquery/summernote/dist/summernote.css" rel="stylesheet" />
    <!-- build:css ../assets/styles/app.min.css -->
    <link rel="stylesheet" href="/Content/assets/styles/app.css" type="text/css"/>
    <!-- customize-style.css -->
    <link rel="stylesheet" href="/Content/assets/styles/customize-style.css" type="text/css" />
    <link rel="stylesheet" href="/Content/assets/styles/customize-admin.css" type="text/css" />
    <!-- endbuild -->
    <link rel="stylesheet" href="/Content/assets/styles/font.css" type="text/css"/>

    <!-- <link rel="stylesheet" href="/Content/assets/styles/tabs.css" type="text/css"/> -->

    <!-- <link rel="stylesheet" href="/Content/assets/angular-material-icons/angular-material-icons.css" type="text/css"/> -->

    <link rel="stylesheet" href="/Content/assets/angular-jk-rating-stars/jk-rating-stars.css" type="text/css" />

    <!-- <link rel="stylesheet" href="/Content/assets/icons/icon.css" type="text/css" /> -->

    <base href="/">
</head>
<body ng-cloak ng-app="app" ng-controller="AppCtrl" class="{{app.setting.bg}}" ng-class="{'container': app.setting.boxed, 'ie': isIE,'smart': isSmart}" >
    <div class="app" ui-view></div>
    <!-- build:js scripts/app.angular.js -->
    <!-- jQuery -->
    <script src="/Scripts/libs/jquery/jquery/dist/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="/Scripts/libs/jquery/tether/dist/js/tether.min.js"></script>
    <script src="/Scripts/libs/jquery/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/Scripts/libs/jquery/PACE/pace.min.js"></script>
    <script src="/Scripts/libs/jquery/moment/moment.js"></script>
    <script src="/Scripts/libs/jquery/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="/Scripts/libs/jquery/summernote/dist/summernote.min.js"></script>
    <script src="/Scripts/libs/js/echarts/build/dist/echarts-all.js"></script>    
    
    <!-- Angular -->
    <script src="/Scripts/libs/angular/angular/angular.js"></script>
    <script src="/Scripts/libs/angular-jk-rating-stars/jk-rating-stars.js"></script>
    <script src="/Scripts/libs/angular/angular-animate/angular-animate.js"></script>
    <script src="/Scripts/libs/angular-aria/angular-aria.js"></script>
    <script src="/Scripts/libs/angular-material/angular-material.js"></script>
    <script src="/Scripts/libs/angular-messages/angular-messages.js"></script>
    <script src="/Scripts/libs/angular-material-icons/angular-material-icons.js"></script>
    <script src="/Scripts/libs/angular/angular-resource/angular-resource.js"></script>
    <script src="/Scripts/libs/angular/angular-sanitize/angular-sanitize.js"></script>
    <script src="/Scripts/libs/angular/angular-touch/angular-touch.js"></script>
    <script src="/Scripts/libs/angular/angular-translate/angular-translate.min.js"></script>
    <script src="/Scripts/libs/angular/angular-block-ui/angular-block-ui.min.js"></script>
    <script src="/Scripts/libs/angular/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/Scripts/libs/angular/angular-strap/dist/angular-strap.js"></script>
    <script src="/Scripts/libs/angular/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="/Scripts/libs/angular/angular-bootstrap-datetimepicker-directive/angular-bootstrap-datetimepicker-directive.min.js"></script>
    <script src="/Scripts/libs/angular/angular-ng-alertify/ngAlertify.js"></script>
    <script src="/Scripts/libs/angular/angular-checklist-model/checklist-model.js"></script>
    <script src="/Scripts/libs/angular/angular-summernote/dist/angular-summernote.js"></script>
    <script src="/Scripts/libs/angular/angular-echarts/dist/angular-echarts.js"></script>
    <!-- router -->
    <script src="/Scripts/libs/angular/angular-ui-router/angular-ui-router.js"></script>
    <!-- storage -->
    <script src="/Scripts/libs/angular/ngstorage/ngStorage.js"></script>
    <!-- utils -->
    <script src="/Scripts/libs/angular/angular-ui-utils/ui-utils.js"></script>
    <!-- lazyload -->
    <script src="/Scripts/libs/angular/oclazyload/dist/ocLazyLoad.js"></script>
    <!-- App -->
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyB2xONcCM5lw4HqsC8tjztvHzkI8IBTU_4&libraries=placeses,visualization,drawing,geometry,places"></script>
    <script src="/Scripts/languages/lang-vi.js"></script>
    <script src="/Scripts/app/helper.js"></script>
    <script src="/Scripts/app/app.js"></script>
    <script src="/Scripts/app/app.global.js"></script>
    <script src="/Scripts/app/app.directives.js"></script>
    <script src="/Scripts/app/app.commonservice.js"></script>
    <script src="/Scripts/app/services/http/http.service.js"></script>
    <script src="/Scripts/app/messages/app.messages.js"></script>
    <script src="/Scripts/app/config.js"></script>
    <script src="/Scripts/app/config.lazyload.js"></script>
    <script src="/Scripts/app/config.router.js"></script>
    <script src="/Scripts/app/app.ctrl.js"></script>
               
    <script src="/Scripts/app/directives/base/ui-jp.js"></script>
    <script src="/Scripts/app/directives/base/ui-nav.js"></script>
    <script src="/Scripts/app/directives/base/ui-fullscreen.js"></script>
    <script src="/Scripts/app/directives/base/ui-scroll-to.js"></script>
    <script src="/Scripts/app/directives/base/ui-toggle-class.js"></script>
    <script src="/Scripts/app/directives/base/ui-include.js"></script>
    <script src="/Scripts/app/directives/ngFileReader.js"></script>
    <script src="Scripts/libs/angular/angular-map/navigator-geolocation.js"></script>
    <script src="Scripts/libs/angular/angular-map/geo-coder.js"></script>
    <script src="Scripts/libs/angular/angular-map/camel-case.js"></script>
    <script src="Scripts/libs/angular/angular-map/jsonize.js"></script>
    <script src="Scripts/libs/angular/angular-map/attr2-map-options.js"></script>
    <script src="/Scripts/app/directives/places-auto-complete.js"></script>
    <!--<script src="Scripts/app/script-tags-for-development.js"></script>-->
    
               
    <script src="/Scripts/app/filters/base/fromnow.js"></script>
               
    <script src="/Scripts/app/services/base/ngstore.js"></script>
    <script src="/Scripts/app/services/base/ui-load.js"></script>
    <script src="/Scripts/app/services/base/palette.js"></script>
    <!-- endbuild -->
</body>
</html>
