﻿<script type="text/ng-template" id="asignmerchanttoagent.html">
    <div id="myModal">
        <div class="modal-header">
            <h6 class="modal-title breakword">Phân quyền quản lý cho đại lý</h6>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4" style="margin-bottom: 10px;">
                    <label><b>Tên đại lý</b></label>
                    <input type="text" class="form-control" placeholder="Tên đại lý" ng-model="filter.agentName">
                </div>
                <div class="col-md-4" style="margin-bottom: 10px;">
                    <label><b>Mã đại lý</b></label>
                    <input type="text" class="form-control" placeholder="Mã đại lý" ng-model="filter.agentCode">
                </div>
                <div class="col-md-4" style="margin-bottom: 10px;">
                    <label style="width:100%"><b style="visibility:hidden;">a</b></label>
                    <button type="button" class="btn btn-danger" ng-click="searchAgentClick()">Tìm kiếm</button>
                </div> 
            </div>
            <div class="row">
                <div class="table-responsive margin-top-1rem">
                    <table class="table table-striped b-t">
                        <thead>
                            <tr>
                                <th>Tên đại lý</th>
                                <th>Mã đại lý</th>                             
                                <th>Cấp quyền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in datas">
                                <td class="breakword" ng-bind="item.AgentName"></td>
                                <td class="breakword" ng-bind="item.AgentCode"></td>                               
                                <td class="breakword">
                                    <button type="button" class="btn btn-xs white btn-icon" ng-click="updateClick(item)">
                                        <i class="fa fa-edit none"></i>
                                    </button>                                  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>        
    </div>
</script>