﻿<div id="membersearch-page" class="search-page">
    <div class="padding">
        <div class="row title">
            <b translate="page.place.image.title"></b>
        </div>
        <div class="row nav-search">
            <div class="form-group margin-top-1rem col-lg col-md">
                <div id="col-username" class="float-left">
                    <label for="txtName" class="form-control-label no-padding-left float-left text-right"><b translate="page.place.image.place"></b></label>
                    <div class="input-username float-left">
                        <select class="form-control" id="cbxPlace" ng-model="filter.placeId" ng-options="c.Id as c.Title for c in place">
                            <option value="">Chọn loại địa điểm</option>
                        </select>
                    </div>
                </div>
                
                <div id="col-search" class="float-left text-center">
                    <button class="btn danger" translate="btn.search" ng-click="searchClick()"></button>
                </div>
            </div>
        </div>
        <div class="row search-result">
            <div class="col-sm-8 no-padding">
                <b><span translate="page.place.image.searchresults"></span> <span ng-bind="paging.totalItems"></span></b>
            </div>
            <div class="col-sm-4 no-padding text-right">
                <button class="btn default" ng-click="showPopup(null)"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 no-padding">
                <div class="box">
                    <div class="table-responsive margin-top-1rem">
                        <table class="table table-striped b-t">
                            <thead>
                                <tr>
                                    <th translate="page.place.image.shortednumber" style="width: 10px"></th>
                                    <th ng-click="sortBy('id')" ng-class="getSortClass('id')" style="width: 50px" translate="page.place.image.id"></th>                                                                 
                                    <th ng-click="sortBy('image')" ng-class="getSortClass('image')" style="width:170px" translate="page.place.image.image"></th>
                                    <th ng-click="sortBy('place')" ng-class="getSortClass('place')" style="width:170px" translate="page.place.image.place"></th>
                                    <th ng-click="sortBy('createdat')" ng-class="getSortClass('createdat')" style="width:300px" translate="page.place.image.createdat"></th>                                                                
                                    <th style="width:150px;" translate="page.place.image.action"></th>
                                 </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in datas">
                                    <td ng-bind="$index + paging.currentItem"></td>
                                    <td class="breakword" ng-bind="item.Id"></td>
                                 
                                    <td class="breakword"><span ng-bind=""></span>
                                        <img src="{{item.Url}}" width="200" height="120" alt="base64 test">
                                    </td>
                                    <td class="breakword" ng-bind="item.PlaceTitle"></td>
                                    <td class="breakword" ng-bind="item.CreatedAt"></td>
                                    <td class="breakword">
                                        <span class="btn btn-default" ng-click="showPopup(item)"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                        <span class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="removeItem(item)"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                    </td>                                     
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-include="'Views/shared/paging.html'"></div>
                </div>
            </div>
        </div>       
    </div>
</div>
<div ng-include="'Views/place/placeimagemodal.html'"></div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-keyboard="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Do you want to delete this account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deletePlace()">Delete</button>
            </div>
        </div>
    </div>
</div>


