﻿<script type="text/ng-template" id="placedetailmodal.html">
    <div id="myModal">
        <div class="modal-header">
            <h6 class="modal-title breakword" translate="page.place.detail.addorupdate"></h6>
        </div>
        <div class="modal-body" data-ng-init="init()">
            <form name="userForm" role="form" enctype="text/plain" data-toggle="validator">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="nameTitle" class="control-label" translate="page.place.detail.name"></label>
                        <input type="text" class="form-control" id="nameTitle" ng-model="data.Title">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="description" class="control-label" translate="page.place.detail.description"></label>
                        <div class="box margin-bottom-20">
                            <summernote id="description" config="options" ng-model="data.Description"></summernote>
                            <!--<div ui-jp="summernote"  >
                            </div>-->
                        </div>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-md-6">
                        <label translate="page.place.detail.placecategory"></label>
                        <select class="form-control" id="cbxPlaceCategory" ng-model="data.PlaceCategoryId" ng-options="c.Id as c.Name for c in placeCategory">
                            <option value="">Chọn loại địa điểm</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="description" class="control-label" translate="page.place.detail.description"></label>
                        <!--<input id="pac-input" class="controls" type="text"
                               placeholder="Enter a location">
                        <div id="type-selector" class="controls">
                            <input type="radio" name="type" id="changetype-all" checked="checked">
                            <label for="changetype-all">All</label>

                            <input type="radio" name="type" id="changetype-establishment">
                            <label for="changetype-establishment">Establishments</label>

                            <input type="radio" name="type" id="changetype-address">
                            <label for="changetype-address">Addresses</label>

                            <input type="radio" name="type" id="changetype-geocode">
                            <label for="changetype-geocode">Geocodes</label>
                        </div>
                        <div id="map" style="width: 100%; height: 400px; background-color: #CCC;"></div>-->
                       
                        <div class="tour-map" map-lazy-load="https://maps.google.com/maps/api/js"
                             map-lazy-load-params="{{googleMapsUrl}}" style="width: 100%; height:350px">
                            Auto Complete Type:
                            <select ng-model="vm.types">
                                <option value="['geocode']">Geodode</option>
                                <option value="['establishment']">Establishment</option>
                                <option value="['address']">Address</option>
                            </select><br />
                            Enter an address: <br />
                            <input places-auto-complete size=80
                                   ng-model="vm.address"
                                   component-restrictions="{country:'us'}"
                                   types="{{types}}"
                                   on-place-changed="vm.placeChanged()" /> <br />
                            <div ng-show="vm.place">
                                Address = {{vm.place.formatted_address}} <br />
                                Location: {{vm.place.geometry.location}}<br />
                            </div>
                            address : {{vm.address}}
                            <ng-map center="{{data.Latitude}},{{data.Longitude}}" zoom="18" style="width: 100%; height:350px">
                                <marker position="{{data.Latitude}},{{data.Longitude}}" title="Hello World!"></marker>
                            </ng-map>
                        </div>
                        
                        <!--<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>-->
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeClick()" translate="btn.cancel"></button>
            <button type="button" class="btn info danger" ng-click="saveClick()" translate="btn.save"></button>
        </div>
    </div>

</script>

<script type="text/javascript">
    
    //window.onload = initMap;
    
    //$(document).ready(function () {
        // executes when HTML-Document is loaded and DOM is ready
    
        
        
        //$('#myModal').on('shown.bs.modal', function () {
        //    google.maps.event.trigger(map, "resize");
        //    //return map.setCenter(markerLatLng);
            
        //});

        //initMap();
    //});
</script>
<!--<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEI0maO2AdzeB_zbkPZYqFcRdhHW9bWM8&libraries=places&callback=initMap">

</script>-->
