﻿<div id="membersearch-page" class="search-page">
    <div class="padding">
        <div class="row title">
            <b translate="page.place.search.title"></b>
        </div>
        <div class="row nav-search">
            <div class="form-group margin-top-1rem col-lg col-md">
                <div id="col-username" class="float-left">
                    <label for="txtName" class="form-control-label no-padding-left float-left text-right"><b translate="page.place.detail.name"></b></label>
                    <div class="input-username float-left">
                        <input type="text" class="form-control" id="txtName" placeholder="{{'page.place.detail.placeholdername' | translate}}" ng-model="filter.name">
                    </div>
                </div>
                
                <div id="col-search" class="float-left text-center">
                    <button class="btn danger" translate="btn.search" ng-click="searchClick()"></button>
                </div>
            </div>
        </div>
        <div class="row search-result">
            <div class="col-sm-8 no-padding">
                <b><span translate="page.place.detail.searchresults"></span> <span ng-bind="paging.totalItems"></span></b>
            </div>
            <div class="col-sm-4 no-padding text-right">
                <button class="btn default" ng-click="showPopup(null)"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 no-padding">
                <div class="box">
                    <div class="table-responsive margin-top-1rem">
                        <table class="table table-striped b-t">
                            <thead>
                                <tr>
                                    <th translate="page.place.detail.shortednumber" style="width: 10px"></th>
                                    <th ng-click="sortBy('id')" ng-class="getSortClass('id')" style="width: 50px" translate="page.place.detail.id"></th>
                                    <th ng-click="sortBy('title')" ng-class="getSortClass('title')" style="width: 250px" translate="page.place.detail.name"></th>                                   
                                    <th ng-click="sortBy('description')" ng-class="getSortClass('description')" style="width:420px" translate="page.place.detail.description"></th>
                                    <th ng-click="sortBy('rating')" ng-class="getSortClass('rating')" style="width:100px" translate="page.place.detail.rating"></th>
                                    <th ng-click="sortBy('likenumber')" ng-class="getSortClass('likenumber')" style="width:200px" translate="page.place.detail.likenumber"></th>
                                    <th ng-click="sortBy('placecategory')" ng-class="getSortClass('placecategory')" style="width:250px" translate="page.place.detail.placecategory"></th>
                                    <th ng-click="sortBy('createdat')" ng-class="getSortClass('createdat')" style="width:250px" translate="page.place.detail.createdat"></th> 
                                    <th ng-click="sortBy('updatedat')" ng-class="getSortClass('updatedat')" style="width:300px" translate="page.place.detail.updatedat"></th>                                                               
                                    <th style="width:200px;" translate="page.place.detail.action"></th>
                                 </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in datas">
                                    <td ng-bind="$index + paging.currentItem"></td>
                                    <td class="breakword" ng-bind="item.Id"></td>
                                    <td class="breakword" ng-bind="item.Title"></td>
                                    <td class="breakword" ng-bind="item.Description"></td>                                 
                                    <td class="breakword" ng-bind="item.Rating"></td>
                                    <td class="breakword" ng-bind="item.LikeNumber"></td>
                                    <td class="breakword" ng-bind="item.PlaceCategory.Name"></td>
                                    <td class="breakword" ng-bind="item.CreatedAt"></td>
                                    <td class="breakword" ng-bind="item.UpdatedAt"></td>
                                    <td class="breakword">
                                        <span class="btn btn-default" ng-click="showPopup(item)"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                        <span class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="removeItem(item)"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                    </td>                                     
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-include="'Views/shared/paging.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'Views/place/placedetailmodal.html'"></div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-keyboard="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Do you want to delete this account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deletePlace()">Delete</button>
            </div>
        </div>
    </div>
</div>
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
    }

        #pac-input:focus {
            border-color: #4d90fe;
        }

    .pac-container {
        font-family: Roboto;
        
    }

    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
    }

        #type-selector label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }
</style>
<!--<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEI0maO2AdzeB_zbkPZYqFcRdhHW9bWM8&libraries=places&callback=initMap">

</script>-->
<script>
    //$('#myModal').on('shown.bs.modal', function () {
    //    //google.maps.event.trigger(map, "resize");
    //    //return map.setCenter(markerLatLng);
    //    initMap();
    //});
    
    //function initMap() {

    //    var myOptions = {
    //        center: { lat: -33.8688, lng: 151.2195 },
    //        zoom: 13,
    //        mapTypeId: google.maps.MapTypeId.ROADMAP
    //    };
    //    alert(1);
    //    var map = new google.maps.Map(document.getElementById('map'), myOptions);

    //    var input = /** @type {!HTMLInputElement} */(
    //        document.getElementById('pac-input'));

    //    var types = document.getElementById('type-selector');
    //    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    //    map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

    //    var autocomplete = new google.maps.places.Autocomplete(input);
    //    autocomplete.bindTo('bounds', map);

    //    var infowindow = new google.maps.InfoWindow();
    //    var marker = new google.maps.Marker({
    //        map: map,
    //        anchorPoint: new google.maps.Point(0, -29)
    //    });

    //    autocomplete.addListener('place_changed', function () {
    //        infowindow.close();
    //        marker.setVisible(false);
    //        var place = autocomplete.getPlace(); console.log(place.geometry.location.lat());
    //        if (!place.geometry) {
    //            window.alert("Autocomplete's returned place contains no geometry");
    //            return;
    //        }

    //        // If the place has a geometry, then present it on a map.
    //        if (place.geometry.viewport) {
    //            map.fitBounds(place.geometry.viewport);
    //        } else {
    //            map.setCenter(place.geometry.location);
    //            map.setZoom(17);  // Why 17? Because it looks good.
    //        }
    //        marker.setIcon(/** @type {google.maps.Icon} */({
    //            url: place.icon,
    //            size: new google.maps.Size(71, 71),
    //            origin: new google.maps.Point(0, 0),
    //            anchor: new google.maps.Point(17, 34),
    //            scaledSize: new google.maps.Size(35, 35)
    //        }));
    //        marker.setPosition(place.geometry.location);
    //        marker.setVisible(true);

    //        var address = '';
    //        if (place.address_components) {
    //            address = [
    //              (place.address_components[0] && place.address_components[0].short_name || ''),
    //              (place.address_components[1] && place.address_components[1].short_name || ''),
    //              (place.address_components[2] && place.address_components[2].short_name || '')
    //            ].join(' ');
    //        }

    //        infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
    //        infowindow.open(map, marker);
    //    });

    //    // Sets a listener on a radio button to change the filter type on Places
    //    // Autocomplete.
    //    function setupClickListener(id, types) {
    //        var radioButton = document.getElementById(id);
    //        radioButton.addEventListener('click', function () {
    //            autocomplete.setTypes(types);
    //        });
    //    }

    //    setupClickListener('changetype-all', []);
    //    setupClickListener('changetype-address', ['address']);
    //    setupClickListener('changetype-establishment', ['establishment']);
    //    setupClickListener('changetype-geocode', ['geocode']);


    //}; 
</script>



