﻿<script type="text/ng-template" id="placemodal.html">
    <div class="modal-header">
        <h6 class="modal-title breakword">Thông tin khách hàng</h6>
    </div>
    <div class="modal-body" data-ng-init="init()">
        <form name="userForm" role="form" enctype="multipart/form-data" data-toggle="validator">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="namePlace" class="control-label">Mã số:</label>
                    <input type="text" class="form-control" id="namePlace" ng-model="data.MerchantNumber">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="namePlace" class="control-label">Tên:</label>
                    <input type="text" class="form-control" id="namePlace" ng-model="data.MerchantName">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="namePlace" class="control-label">Owner:</label>
                    <input type="text" class="form-control" id="namePlace" ng-model="data.Owner">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="namePlace" class="control-label">Địa chỉ:</label>
                    <input type="text" class="form-control" id="namePlace" ng-model="data.Address">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="namePlace" class="control-label">Thành phố:</label>
                    <input type="text" class="form-control" id="namePlace" ng-model="data.City">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="namePlace" class="control-label">State:</label>
                    <input type="text" class="form-control" id="namePlace" ng-model="data.State">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="namePlace" class="control-label">Điện thoại:</label>
                    <input type="text" class="form-control" id="namePlace" ng-model="data.Phone">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="namePlace" class="control-label">Mã vùng:</label>
                    <input type="text" class="form-control" id="namePlace" ng-model="data.Zip">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="namePlace" class="control-label">Email:</label>
                    <input type="text" class="form-control" id="namePlace" ng-model="data.Email">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="namePlace" class="control-label">Thẻ ngân hàng DBA:</label>
                    <input type="text" class="form-control" id="namePlace" ng-model="data.BankCardDBA">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="namePlace" class="control-label">Ngày tham gia:</label>
                    <input type="text" class="form-control input-sm" datetimepicker ng-model="data.ApprovalDate"
                           datetimepicker-options="{format: 'YYYY/MM/DD'}" />                    
                </div>
            </div>
            <div class="form-group row" ng-hide="data.StatusId == 1">
                <div class="col-md-12">
                    <label for="namePlace" class="control-label">Ngày kết thúc:</label>
                    <input type="text" class="form-control input-sm" datetimepicker ng-model="data.CloseDate"
                           datetimepicker-options="{format: 'YYYY/MM/DD'}">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="namePlace" class="control-label">Ngày kích hoạt:</label>
                    <input type="text" class="form-control input-sm" datetimepicker ng-model="data.FistActiveDate"
                           datetimepicker-options="{format: 'YYYY/MM/DD'}">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="namePlace" class="control-label">Ngày kích hoạt cuối cùng:</label>
                    <input type="text" class="form-control input-sm" datetimepicker ng-model="data.LastActiveDate"
                           datetimepicker-options="{format: 'YYYY/MM/DD'}">
                </div>
            </div>
            <div id="col-username" class="float-left">
                <label for="txtName" class="form-control-label no-padding-left float-left text-right"><b>Vùng</b></label>
                <div class="input-username float-left">
                    <select class="form-control" id="cbxRegion" ng-model="data.RegionId" ng-options="r.Id as r.Name for r in region">
                    </select>
                </div>
            </div>
            <div id="col-username" class="float-left">
                <label for="txtName" class="form-control-label no-padding-left float-left text-right"><b>Loại khách hàng</b></label>
                <div class="input-username float-left">
                    <select class="form-control" id="cbxType" ng-model="data.MerchantTypeId" ng-options="r.Id as r.MerchantTypeName for r in merchantType">
                    </select>
                </div>
            </div>
            <div id="col-username" class="float-left">
                <label for="txtName" class="form-control-label no-padding-left float-left text-right"><b>Đại lý</b></label>
                <div class="input-username float-left">
                    <select class="form-control" id="cbxAgent" ng-model="data.AgentId" ng-options="r.Id as r.AgentName for r in agent">
                    </select>
                </div>
            </div>
            <div id="col-username" class="float-left">
                <label for="txtName" class="form-control-label no-padding-left float-left text-right"><b>Trạng thái</b></label>
                <div class="input-username float-left">
                    <select class="form-control" id="cbxStatus" ng-change="changedStatus()" ng-model="data.StatusId" ng-options="r.Id as r.Name for r in status"></select>
                </div>
            </div>     
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeClick()" translate="btn.cancel"></button>
        <button type="button" class="btn info danger" ng-click="saveClick()" translate="btn.save"></button>
    </div>

</script>
