﻿<div id="membersearch-page" class="search-page">
    <div class="padding">
        <div class="row title">
            <b translate="page.place.search.title"></b>
        </div>
        <div class="row nav-search">
            <div class="form-group margin-top-1rem col-lg col-md-9">    
                <div class="col-md-6" style="margin-bottom: 10px;">
                    <label><b>Tên Merchant</b></label>
                    <input type="text" class="form-control" id="txtName" placeholder="Tên Merchant" ng-model="filter.name">
                </div>           
                <div class="col-md-6" style="margin-bottom: 10px;">
                    <label><b>Vùng</b></label>
                    <div class="input-username">
                        <select class="form-control" id="cbxRegion" ng-model="filter.regionId" ng-options="r.Id as r.Name for r in region">
                            <option value="">Chọn vùng</option>
                        </select>
                    </div>
                </div> 
                <div class="col-md-6" style="margin-bottom: 10px;">
                    <label><b>Loại khách hàng</b></label>
                    <div class="input-username">
                        <select class="form-control" id="cbxType" ng-model="filter.merchantTypeId" ng-options="r.Id as r.MerchantTypeName for r in merchantType">
                            <option value="">Chọn loại khách hàng</option>
                        </select>
                    </div>
                </div> 
                <div class="col-md-6" style="margin-bottom: 10px;">
                    <label><b>Đại lý</b></label>
                    <div class="input-username">
                        <select class="form-control" id="cbxAgent" ng-model="filter.agentId" ng-options="r.Id as r.AgentName for r in agent">
                            <option value="">Chọn đại lý</option>
                        </select>
                    </div>
                </div>               
            </div>
            <div class="form-group margin-top-1rem col-md-3">
                <div class="col-md-6" style="margin-bottom: 10px;">
                    <label style="width:100%"><b style="visibility:hidden;">a</b></label>                   
                    <button class="btn danger" translate="btn.search" ng-click="searchClick()"></button>                   
                </div>                
            </div>
            
        </div>
        <div class="row search-result">
            <div class="col-sm-8 no-padding">
                <b><span translate="page.place.search.searchresults"></span> <span ng-bind="paging.totalItems"></span></b>
            </div>       
        </div>
        <div class="row">
            <div class="col-sm-12 no-padding">
                <div class="box">
                    <div class="table-responsive margin-top-1rem">
                        <table class="table table-striped b-t">
                            <thead>
                                <tr>
                                    <th translate="page.place.search.shortednumber" style="width: 10px"></th>                                   
                                    <th ng-click="sortBy('number')" ng-class="getSortClass('number')" style="width: 100px">Mã số</th>
                                    <th ng-click="sortBy('name')" ng-class="getSortClass('name')" style="width: 150px">Tên</th>                                   
                                    <th ng-click="sortBy('phone')" ng-class="getSortClass('phone')" style="width:150px">Điện thoại</th>
                                    <th ng-click="sortBy('type')" ng-class="getSortClass('type')" style="width:150px">Loại</th>
                                    <th ng-click="sortBy('region')" ng-class="getSortClass('region')" style="width:100px">Vùng</th>
                                    <th ng-click="sortBy('approvaldate')" ng-class="getSortClass('approvaldate')" style="width:150px">Ngày tham gia</th>
                                    <th ng-click="sortBy('fistactivedate')" ng-class="getSortClass('fistactivedate')" style="width:150px">Ngày kích hoạt</th>
                                    <th ng-click="sortBy('status')" ng-class="getSortClass('status')" style="width:150px">Trạng thái</th>                                                                           
                                    <th style="width:150px;" translate="page.place.search.action"></th>
                                 </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in datas">
                                    <td ng-bind="$index + paging.currentItem"></td>                                   
                                    <td class="breakword" ng-bind="item.MerchantNumber"></td>
                                    <td class="breakword" ng-bind="item.MerchantName"></td>                                  
                                    <td class="breakword" ng-bind="item.Phone"></td>
                                    <td class="breakword" ng-bind="item.MerchantType.MerchantTypeName"></td>
                                    <td class="breakword" ng-bind="item.Region.Name"></td>
                                    <td class="breakword" >{{item.ApprovalDate | date :  "dd/MM/y"}}</td>
                                    <td class="breakword">{{item.FistActiveDate | date :  "dd/MM/y"}}</td>
                                    <td class="breakword">{{item.StatusId | myFormat}}</td>
                                    <td class="breakword">
                                        <button type="button" class="btn btn-xs white btn-icon" ng-click="showPopup(item)">
                                            <i class="fa fa-edit none"></i>
                                        </button>
                                        <button type="button" class="btn btn-xs white btn-icon" ng-click="asignAgentClick(item.Id)">
                                            <i class="fa  fa-user none"></i>
                                        </button>
                                        <!--<button type="button" class="btn btn-xs white btn-icon" ng-click="removeItem(item)">
                                            <i class="fa  fa-remove none"></i>
                                        </button>-->                                       
                                    </td>                                                                        
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-include="'Views/shared/paging.html'"></div>
                </div>
            </div>
        </div>

        
    </div>
</div>
<div ng-include="'Views/place/placemodal.html'"></div>
<div ng-include="'Views/place/asignmerchanttoagent.html'"></div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-keyboard="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Do you want to delete this account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deletePlace()">Delete</button>
            </div>
        </div>
    </div>
</div>


