﻿<script type="text/ng-template" id="placeimagemodal.html">
    <div class="modal-header">
        <h6 class="modal-title breakword" translate="page.place.search.addorupdate"></h6>
    </div>
    <div class="modal-body" data-ng-init="init()">
        <form name="userForm" role="form" enctype="multipart/form-data" data-toggle="validator">
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="control-label" translate="page.place.image.place"></label>
                    <select class="form-control" id="cbxPlace" ng-model="data.model.PlaceId" ng-options="c.Id as c.Title for c in place">
                        <option value="">Chọn loại địa điểm</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="iconBase" class="control-label" translate="page.place.image.image"></label>
                    <input type="file" accept="Image/*" ng-file-reader class="form-control" id="iconBase" ng-model="data.files">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeClick()" translate="btn.cancel"></button>
        <button type="button" class="btn info danger" ng-click="saveClick()" translate="btn.save"></button>
    </div>

</script>
