<div class="dropdown-menu pull-right dropdown-menu-scale">
  <a class="dropdown-item" ui-sref="app.inbox.list">
    <span>Tin nhắn</span>
    <span class="label warn m-l-xs">3</span>
  </a>
  <a class="dropdown-item" ui-sref="app.page.profile">
    <span>Hồ sơ</span>
  </a>
  <a class="dropdown-item" ui-sref="app.page.setting">
    <span>Cài đặt</span>
    <span class="label primary m-l-xs">3/9</span>
  </a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" ui-sref="app.docs">
    Bạn cần giúp đỡ?
  </a>
  <a class="dropdown-item" ng-click="signOut()">Đăng xuất</a>
</div>
