
<ul class="nav" ui-nav>

    <li ui-sref-active="active">
      <a href="../dashboard/dashboard.html" ui-sref="app.dashboard">
        <span class="nav-icon">
          <i class="material-icons">&#xe3fc;<span ui-include="'../../Content/assets/images/i_0.svg'"></span></i>
        </span>
        <span class="nav-text">Thông tin cá nhân</span>
      </a>
    </li> 

    <li ui-sref-active="active" ng-if="accountInfo.RoleId == 1" >
        <a ui-sref="app.managementagent.search">
            <span class="nav-icon">
                <i class="material-icons">&#xe3fc;<span ui-include="'../../Content/assets/images/i_0.svg'"></span></i>
            </span>
            <span class="nav-text">Quản lý đại lý</span>
        </a>
    </li>     
    
    <li ng-class="{active:$state.includes('app.agent')}" ng-hide="accountInfo.RoleId == 3">
        <a>
            <span class="nav-caret">
                <i class="fa fa-caret-down"></i>
            </span>
            <span class="nav-icon">
                <i class="material-icons">&#xe5c3;<span ui-include="'../../Content/assets/images/i_1.svg'"></span></i>
            </span>
            <span class="nav-text"> Đại lý </span>
        </a>
        <ul class="nav-sub">               
            <li ui-sref-active="active">

                <a href="../member/search.html" ui-sref="app.member"><span class="nav-text">Báo cáo</span></a>
            </li>         
        </ul>
    </li>

    <li ng-class="{active:$state.includes('app.merchant')}" ng-hide="accountInfo.RoleId == 2">
        <a>
            <span class="nav-caret">
                <i class="fa fa-caret-down"></i>
            </span>
            <span class="nav-icon">
                <i class="material-icons">&#xe429;<span ui-include="'../../Content/assets/images/i_4.svg'"></span></i>
            </span>
            <span class="nav-text">Khách hàng</span>
        </a>
        <ul class="nav-sub">
            <li ui-sref-active="active">
                <a href="../place/place.html" ui-sref="app.place.category"><span class="nav-text">Quản lý khách hàng</span></a>
            </li>
            <li ui-sref-active="active">
                <a href="../member/search.html" ui-sref="app.member"><span class="nav-text">Báo cáo</span></a>
            </li>
        </ul>
    </li>
    <li ng-class="{active:$state.includes('app.account')}">
        <a>
            <span class="nav-caret">
                <i class="fa fa-caret-down"></i>
            </span>
            <span class="nav-icon">
                <i class="material-icons">&#xe39e;<span ui-include="'../../Content/assets/images/i_6.svg'"></span></i>
            </span>
            <span class="nav-text">Tài khoản</span>
        </a>
        <ul class="nav-sub">
            <li ui-sref-active="active">
                <a href="../account/account.html" ui-sref="app.account.profile"><span class="nav-text">Quản lý tài khoản</span></a>
            </li>
            <li ui-sref-active="active">
                <a href="../vehicle/category/search.html" ui-sref="app.vehicle.category"><span class="nav-text">Gửi tin nhắn</span></a>
            </li>
        </ul>
    </li>
    <li ng-class="{active:$state.includes('app.report')}">
        <a>
            <span class="nav-caret">
                <i class="fa fa-caret-down"></i>
            </span>
            <span class="nav-icon">
                <i class="material-icons">&#xe1b8;<span ui-include="'../../Content/assets/images/i_8.svg'"></span></i>
            </span>
            <span class="nav-text">Báo cáo</span>
        </a>
        <ul class="nav-sub">
            <li ui-sref-active="active">
                <a href="../report/month.html" ui-sref="app.reports"><span class="nav-text">Theo tháng</span></a>
            </li>
            <li ui-sref-active="active">
                <a href="../report/quarter.html" ui-sref="app.reportsquarter"><span class="nav-text">Theo quý</span></a>
            </li>
            <li ui-sref-active="active">
                <a href="../report/year.html" ui-sref="app.reportsyear"><span class="nav-text">Theo năm</span></a>
            </li>
        </ul>
    </li>
    <li ng-class="{active:$state.includes('app.mailboxlist')}" ng-hide="accountInfo.RoleId == 3">
        <a>
            <span class="nav-caret">
                <i class="fa fa-caret-down"></i>
            </span>
            <span class="nav-icon">
                <i class="material-icons">&#xe5c3;<span ui-include="'../../Content/assets/images/i_1.svg'"></span></i>
            </span>
            <span class="nav-text"> Hộp thư </span>
        </a>
        <ul class="nav-sub">
            <li ui-sref-active="active">
                <a href="../mailbox/main.html" ui-sref="app.inbox.list"><span class="nav-text">Danh sách mail</span></a>
            </li>
        </ul>
    </li> 
</ul>
