<!-- search form -->
<form class="navbar-form form-inline pull-right pull-none-sm navbar-item v-m" role="search">
  <div class="form-group l-h m-a-0">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control p-x b-a rounded" placeholder="Search project.s...">
      <span class="input-group-btn">
        <button type="submit" class="btn white b-a rounded no-shadow"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </div>
</form>
<!-- / search form -->
