﻿<script type="text/ng-template" id="companymodal.html">
    
        <div class="modal-header">
            <h6 class="modal-title breakword" translate="page.vehicle.company.search.addorupdate"></h6>
        </div>
        <div class="modal-body margin-modal" data-ng-init="init()">
            <form name="userForm" data-toggle="validator">
                <div class="form-group row">
                    <label for="item-name" class="control-label">Tên công ty: </label>
                    <input type="input" class="form-control" id="item-name" ng-model="company.Name">
                </div>
                <div class="form-group row">
                    <label for="item-phone" class="control-label">Số điện thoại: </label>
                    <input type="input" class="form-control" id="item-phone" ng-model="company.PhoneNumber">
                </div>
                <div class="form-group row">
                    <label for="item-address" class="control-label">Địa chỉ: </label>
                    <input type="input" class="form-control" id="item-address" ng-model="company.Address">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeClick()" translate="btn.cancel"></button>
            <button type="button" class="btn info danger" ng-click="saveClick()" translate="btn.save"></button>
        </div>

</script>
