﻿<script type="text/ng-template" id="_addrolepopup.html">
    <div class="modal-header">
        <h6 class="modal-title breakword" translate="page.role.addroletitle"></h6>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-sm-2 form-control-label" translate="page.role.name"></label>
            <div class="col-sm-10">
                <input class="form-control" ng-model="model.Name" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label" translate="page.role.permissions"></label>
            <div class="col-sm-10 padding-t-5">
                <label class="ui-check" ng-repeat="item in permissions">
                    <input type="checkbox" checklist-model="model.Permissions" checklist-value="item">
                    <i class="dark-white"></i>
                    {{item.Name}}
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeClick()" translate="btn.cancel"></button>
        <button type="button" class="btn info danger" ng-click="saveClick()" translate="btn.save"></button>
    </div>
</script>