﻿<div id="rolesearch-page" class="search-page">
    <div class="padding">
        <!-- <div class="row title">
            <b translate="page.role.title"></b>
        </div> -->
        <!-- <div class="row nav-search">
            <div class="form-group margin-top-1rem col-lg col-md">
                <div id="col-username" class="float-left">
                    <label for="txtKeyword" class="form-control-label no-padding-left float-left text-right"><b translate="page.role.name"></b></label>
                    <div class="input-username float-left">
                        <input type="text" class="form-control" id="txtKeyword" placeholder="{{'page.role.placeholdername' | translate}}" ng-model="filter.keyword">
                    </div>
                </div>
                <div id="col-dtpfrom" class="float-left">
                    <label for="txtKeyword" class="form-control-label float-left text-right"><b translate="page.role.createdfrom"></b></label>
                    <div class="input-group">
                        <input type="text" class="form-control input-sm"
                               datetimepicker ng-model="filter.from">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div id="col-dtpto" class="float-left">
                    <label for="txtKeyword" class="form-control-label float-left text-right"><b translate="page.role.to"></b></label>
                    <div class="input-group">
                        <input type="text" class="form-control input-sm"
                               datetimepicker ng-model="filter.to">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div id="col-search" class="float-left text-center">
                    <button class="btn danger" translate="btn.search" ng-click="searchClick()"></button>
                </div>
            </div>
        </div> -->
        <div class="row search-result">
            <div class="col-sm-8 no-padding search-result">
                <b><span translate="page.role.searchresults"></span> <span ng-bind="paging.totalItems"></span></b>
            </div>
            <div class="col-sm-4 no-padding text-right">
                <button class="btn default" translate="btn.addrole" ng-click="createOrEditClick()"></button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 no-padding">
                <div class="box">
                    <div class="table-responsive margin-top-1rem">
                        <table class="table table-striped b-t">
                            <thead>
                                <tr>
                                    <th translate="page.role.shortednumber"></th>
                                    <th ng-click="sortBy('name')" ng-class="getSortClass('name')" style="width: 12%" translate="page.role.name"></th>                                  
                                    <th ng-click="sortBy('status')" ng-class="getSortClass('status')" translate="page.role.status"></th>
                                    <th ng-click="sortBy('createdat')" ng-class="getSortClass('createdat')" style="width: 100px" translate="page.role.createdat"></th>
                                    <th ng-click="sortBy('updatedat')" ng-class="getSortClass('updatedat')" style="width: 100px" translate="page.role.updatedat"></th>                                                                      
                                    <th class="text-center" style="width:100px;" translate="page.role.actions"></th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in datas">
                                    <td ng-bind="$index + paging.currentItem"></td>
                                    <td class="breakword" ng-bind="item.Name"></td>                                    
                                    <td ng-bind="item.Status.Name"></td>
                                    <td><span ng-bind="item.CreatedAt | date:'dd MMMM yyyy'"></span><br /><span ng-bind="item.CreatedAt | date:'h:mm a'"></span></td>
                                    <td><span ng-bind="item.UpdatedAt | date:'dd MMMM yyyy'"></span><br /><span ng-bind="item.UpdatedAt | date:'h:mm a'"></span></td>                                 
                                    <td class="text-center vmiddle">
                                        <button type="button" class="btn btn-xs white btn-icon" ng-click="createOrEditClick(item)">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-xs white btn-icon" ng-click="removeClick(item)">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-include="'Views/shared/paging.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'Views/member/role/_addrolepopup.html'"></div>