<script type="text/ng-template" id="detailsmodal.html">
        <div class="modal-header">
            <h6 class="modal-title breakword" translate="page.vehicle.detail.addorupdate"></h6>
        </div>
        <div class="modal-body margin-modal" data-ng-init="init()">
            <form name="userForm" data-toggle="validator">
                <div class="form-group row">
                    <label for="detail-name" class="control-label"  translate="page.vehicle.detail.name"></label>
                    <input type="input" class="form-control" id="detail-name" ng-model="vehicleDetail.Name" min="0" max="50">
                </div>
                <div class="form-group row" id="content-password">
                    <label for="detail-address" class="control-label" translate="page.vehicle.detail.description"></label>
                    <input type="text" class="form-control" id="detail-address" ng-model="vehicleDetail.Description" min="0" max="255">
                </div>
                <div class="form-group row">
                    <!-- THÔNG TIN CÁC COMBOBOX -->
                    <div class="col-md-6 no-padding-left">
                        <label translate="page.vehicle.category.title"></label>
                        <select class="form-control" ng-model="vehicleDetail.VehicleCategory.Id" ng-options="item.Id as item.Name for item in categories"></select>
                    </div>
                    <div class="col-md-6 no-padding-right">
                        <label translate="page.vehicle.company.title"></label>
                        <select class="form-control" ng-model="vehicleDetail.VehicleCompany.Id" ng-options="item.Id as item.Name for item in companies"></select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeClick()" translate="btn.cancel"></button>
            <button type="button" class="btn info danger" ng-click="saveClick()" translate="btn.save"></button>
        </div>

</script>
