﻿<div class="form-group margin-top-1rem col-lg col-md">   
    <div id="col-keyword" class="col-md-10 margin-bottom-15">
        <label for="txtKeyword" class="form-control-label no-padding-left float-left text-right col-md-2"><b translate="page.vehicle.detail.title"></b></label>
        <div class="input-keyword float-left col-md-10">
            <input type="text" class="form-control"  ng-model="filter.keyword">
        </div>
    </div>
    <div id="col-search" class="col-md-2 text-right margin-bottom-15">
        <button class="btn danger" translate="btn.search" ng-click="searchClick()"></button>
    </div>
</div>