﻿<script type="text/ng-template" id="_addpermissionpopup.html">
    <div class="modal-header">
        <h6 class="modal-title breakword" translate="page.permission.addpermissiontitle"></h6>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-sm-2 form-control-label" translate="page.permission.name"></label>
            <div class="col-sm-10">
                <input class="form-control" ng-model="model.Name" />
            </div>
        </div>        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeClick()" translate="btn.cancel"></button>
        <button type="button" class="btn info danger" ng-click="saveClick()" translate="btn.save"></button>
    </div>
</script>