﻿<script type="text/ng-template" id="_addagent.html">
    <div class="modal-header">
        <h6 class="modal-title breakword">Tạo đại lý mới</h6>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Tên đại lý</label>
            <div class="col-sm-10">
                <input class="form-control" ng-model="agentModel.AgentName" />
            </div>
        </div>  
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Mã đại lý</label>
            <div class="col-sm-10">
                <input class="form-control" ng-model="agentModel.AgentCode" />
            </div>
        </div>              
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeClick()">Hủy</button>
        <button type="button" class="btn btn-success" ng-click="saveClick()" ng-bind="agentModel.Id > 0 ? 'Cập nhật' : 'Thêm mới'"></button>
    </div>
</script>