﻿<div id="membersearch-page" class="search-page">
    <div class="padding">
        <div class="row title">
            <b class="col-sm-12" translate="page.member.search.title"></b>
        </div>
        <div class="nav-search">
            <div class="row">
                <div class="form-group margin-top-1rem col-md-9">                    
                        <div class="col-md-6" style="margin-bottom: 10px;">
                            <label><b>Tên đại lý</b></label>
                            <input type="text" class="form-control" placeholder="Tên đại lý" ng-model="filter.agentName">
                        </div>
                        <div class="col-md-6"  style="margin-bottom: 10px;">
                            <label><b>Mã đại lý</b></label>
                            <input type="text" class="form-control" placeholder="Mã đại lý" ng-model="filter.agentCode">
                        </div>
                   
                        <div class="col-md-6"  style="margin-bottom: 10px;">
                            <label><b>Tạo từ ngày</b></label>
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" datetimepicker datetimepicker-options="{format: 'DD/MM/YYYY'}" ng-model="filter.from">
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6"  style="margin-bottom: 10px;">
                            <label><b>đến ngày</b></label>
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" datetimepicker  datetimepicker-options="{format: 'DD/MM/YYYY'}" ng-model="filter.to">
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>                   
                </div>
                <div class="form-group margin-top-1rem col-md-3">
                    <div class="col-md-6" style="margin-bottom: 10px;">
                        <label style="width:100%"><b style="visibility:hidden;">a</b></label>
                        <button type="button" class="btn btn-danger" ng-click="searchClick()">Tìm kiếm</button>
                    </div>  
                    <div class="col-md-6" style="margin-bottom: 10px; padding-left: 0">
                        <label style="width:100%"><b style="visibility:hidden;">a</b></label>
                        <button type="button" class="btn btn-success" ng-click="addClick()">Thêm mới</button>
                    </div>                  
                </div>
            </div>
        </div>
        <div class="row search-result">
            <div class="col-sm-8 no-padding">
                <b><span>Kết quả tìm kiếm</span> <span ng-bind="paging.totalItems"></span></b>
            </div>
        </div>
        <div class="row" ng-show="paging.totalItems > 0">
            <div class="col-sm-12">
                <div class="box">
                    <div class="table-responsive margin-top-1rem">
                        <table class="table table-striped b-t">
                            <thead>
                                <tr>
                                    <th>Tên đại lý</th>
                                    <th>Mã đại lý</th>
                                    <th>Ngày tạo</th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in datas">
                                    <td class="breakword" ng-bind="item.AgentName"></td>
                                    <td class="breakword" ng-bind="item.AgentCode"></td>
                                    <td><span ng-bind="item.CreatedAt | date:'dd MMMM yyyy'"></span></td>
                                    <td class="breakword">
                                        <button type="button" class="btn btn-xs white btn-icon" ng-click="updateClick(item)">
                                            <i class="fa  fa-edit none"></i>
                                        </button>                                        
                                        <button type="button" class="btn btn-xs white btn-icon" ng-click="deleteClick(item.Id)">
                                            <i class="fa  fa-remove none"></i>
                                        </button>                                      
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-include="'Views/shared/paging.html'"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<div ng-include="'Views/managementagent/_addAgent.html'"></div>