
body{min-width: 1200px}

/*Common CSS*/
.no-padding-left {padding-left: 0 !important}
.no-padding-right {padding-right: 0 !important}
.no-padding-lr{ padding-left: 0 !important; padding-right: 0 !important}
.no-padding {padding: 0 !important}
.padding-t-5{padding-top:5px}
.padding-b-15{padding-bottom:15px !important}
.margin-top-10{ margin-top: 10px;}
.margin-bottom-15{margin-bottom: 15px}
.margin-bottom-5{margin-bottom: 5px}
.margin-bottom-10{margin-bottom: 10px}
.margin-top-1rem{margin-top:1rem}
.margin-left-1{margin-left: 1em}
.margin-bottom-1{margin-bottom: 1em}
.color-red{ color: red;}
.dark-color{ color: rgb(221,221,221); background-color: #3b3f4b;}
.breakword{word-break: break-word}
.float-left{float:left}
.float-right{float:right}
.vmiddle{vertical-align: middle !important}
.font-size-14{font-size: 14px}
.font-size-16{font-size: 16px}
.line-height-16{line-height: 16px}
.line-height-39{line-height: 39px}
.dropdown-text{width: calc(100% - 32px);overflow:hidden;z-index: 0 !important;white-space: nowrap; text-overflow: ellipsis;}
.btn.dropdown-text:hover,
.btn.dropdown-text:active {z-index: 0 !important}
.position-relative{position:relative}

.table > thead > tr > th,
.table > tbody > tr > td,
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th { padding-left: 6px;padding-right: 6px; font-size: 13px}
.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child,
.table > tbody > tr > th:first-child, 
.table > tfoot > tr > td:first-child, 
.table > tfoot > tr > th:first-child{padding-left: 15px}
.table thead .sorting_desc{background: url('../images/sort_desc.png') no-repeat center right; padding-right: 18px; cursor: pointer;}
.table thead .sorting_asc {background: url('../images/sort_asc.png') no-repeat center right; padding-right: 18px;cursor: pointer;}
.table thead .sorting { background: url('../images/sort_both.png') no-repeat center right;padding-right: 18px; cursor: pointer;}
.table > tbody > tr > td .size-18rem{ width: 1.8rem;height: 1.8rem; line-height: 1.8rem}

label.ui-check
/* Loader */
#content-loading{transition:all linear 1s;}
.wrap-loader{ width: 100%; height: 100%; position: absolute; top: 0;left: 0; }
.loader-visible{ z-index: 100000;opacity: 1;}
.loader-invisible{ z-index: -1;opacity: 0;}
.loader-bg{width: 100%; height: 100%;}
.loader-center{top: 50%; left: 50%; transform: translate(-50%, -50%); }
.loader {
  position: fixed;
  width: 88px;
  height: 15px;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7px;
  background: #ccc;
  position: absolute;
}

.dot_1 {
  animation: animateDot1 1.5s linear infinite;
  left: 22px;
  background: #e579b8;
}

.dot_2 {
  animation: animateDot2 1.5s linear infinite;
  animation-delay: 0.5s;
  left: 44px;
}

.dot_3 {
  animation: animateDot3 1.5s linear infinite;
  left: 22px;
} 

.dot_4 {
  animation: animateDot4 1.5s linear infinite;
  animation-delay: 0.5s;
  left: 44px;
}

@keyframes animateDot1 {
  0% {
    transform: rotate(0deg) translateX(-22px);
  }
  25% {
    transform: rotate(180deg) translateX(-22px);
  }
  75% {
    transform: rotate(180deg) translateX(-22px);
  }
  100% {
    transform: rotate(360deg) translateX(-22px);
  }
}
@keyframes animateDot2 {
  0% {
    transform: rotate(0deg) translateX(-22px);
  }
  25% {
    transform: rotate(-180deg) translateX(-22px);
  }
  75% {
    transform: rotate(-180deg) translateX(-22px);
  }
  100% {
    transform: rotate(-360deg) translateX(-22px);
  }
}
@keyframes animateDot3 {
  0% {
    transform: rotate(0deg) translateX(22px);
  }
  25% {
    transform: rotate(180deg) translateX(22px);
  }
  75% {
    transform: rotate(180deg) translateX(22px);
  }
  100% {
    transform: rotate(360deg) translateX(22px);
  }
}
@keyframes animateDot4 {
  0% {
    transform: rotate(0deg) translateX(22px);
  }
  25% {
    transform: rotate(-180deg) translateX(22px);
  }
  75% {
    transform: rotate(-180deg) translateX(22px);
  }
  100% {
    transform: rotate(-360deg) translateX(22px);
  }
}
/*END loader*/

/*END Common CSS*/

.box-header .col-left{width: 65%; display:inline-block}
.box-header .col-right{width: 35%;}
.box-header .col-right i.fa-dot-circle-o.customize{padding-right: 10px; color:royalblue}
.line-height-25 {line-height: 25px; }
.btn-icon.customize{ width: 2.0rem;height: 2.0rem;line-height: 2.0rem;}
.row.line-bottom{ border-bottom: 1px solid; border-color: rgba(120, 130, 140, 0.13);}

.search-result{margin-top:15px}
/* Member > Search*/
.search-page .title{ padding: 0 0 15px 0;font-size: 16px;}
.search-page .nav-search{ border: 1px solid black; padding-top:15px;}
.search-page .nav-search #col-username{ margin-bottom: 15px;}
.search-page .nav-search #col-username{width: 30%}
.search-page .nav-search #col-username label {width:40%}
.search-page .nav-search #col-username .input-username {width:60%}
/*Added by Khiet Tran: Begin*/
/*.search-page .nav-search #col-email{ margin-bottom: 15px;}
.search-page .nav-search #col-email{width: 40%}
.search-page .nav-search #col-email label {width:20%; margin-left: 0.5em}
.search-page .nav-search #col-email .input-email {width:60%}*/
.btn-new-obj{float:right;}
/*Added by Khiet Tran: End*/
/*.search-page .nav-search #col-dtpfrom{width: 30%}
.search-page .nav-search #col-dtpfrom label{width:35%}
.search-page .nav-search #col-dtpfrom .input-group.date{width:65%}
.search-page .nav-search #col-dtpto{width: 30%}
.search-page .nav-search #col-dtpto label{width:50%}
.search-page .nav-search #col-dtpto .input-group.date{width:85%}
.search-page .nav-search #col-search{width: 12%}*/

.margin-modal {margin: 1em 1em 1em 1em;}
.d-role, .d-status {font-size: 14px}
.vcenter {
    margin-top:8%;
}

.hide {
  display: none;
}