<form name="tourform" data-toggle="validator">
    <div class="form-group row">
        <table class="table table-striped b-t" id="tb-detail-cruise">
            <thead>
                <tr>
                    <th translate="tour.dateActive"></th>
                    <th translate="page.place.search.name"></th>
                    <th translate="page.vehicle.title"></th>
                    <th translate="tour.description"></th>
                </tr>
            </thead>
            <tbody>
                <tr><!-- <tr ng-repeat="item in days"> -->
                    <!-- <td class="breakword" ng-bind="item">
                    </td> -->
                    <td class="breakword">1</td>
                    <td class="breakword">
                        <label translate="page.place.search.name"></label>
                        <select class="form-control" id="cbxPlaceCategory">
                            <option value="">Khách sạn</option>
                        </select>
                    </td>
                    <td class="breakword">
                        <label translate="page.vehicle.title"></label>
                        <select class="form-control" id="cbxPlaceCategory">
                            <option value="">Xe hơi</option>
                        </select>
                    </td>
                    <td class="breakword">
                        <textarea class="form-control" rows="5" maxlength="250"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
