<form name="tourform" data-toggle="validator">
    <div class="form-group row no-padding-lr">
        <div class="col-md-2">
            <label class="control-label" translate="tour.numberOfDate"></label>
            <input type="number" class="form-control" ng-change="numberousDayChange()" ng-model="dayCount">
        </div>
    </div>
    <div class="form-group row no-padding-lr">
        <label class="control-label" translate="tour.cuiseTitle"></label>
        <input type="text" class="form-control">
    </div>
    </div>
    <div class="form-group row">
        <label translate="tour.description"></label>
        <summernote id="description" config="options"></summernote>
    </div>
</form>
