<form name="officialform" data-toggle="validator">
    <div class="form-group row">
        <label class="control-label" translate="tour.dateStart"></label>
        <div class="input-group">
            <div class="input-group">
                <input type="text" class="form-control input-sm" data-date-format="dd MMM yyyy" data-autoclose="true" data-icon-left="fa fa-chevron-left" data-icon-right="fa fa-chevron-right" name="date" bs-datepicker>
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4  no-padding-lr">
            <label class="control-label" translate="tour.priceChild"></label>
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Amount (to the nearest vnd)">
                <span class="input-group-addon" translate="tour.typeMoney"></span>
            </div>
        </div>
        <div class="col-md-4">
            <label class="control-label" translate="tour.priceInfant"></label>
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Amount (to the nearest vnd)">
                <span class="input-group-addon" translate="tour.typeMoney"></span>
            </div>
        </div>
        <div class="col-md-4">
            <label class="control-label" translate="tour.promotionRate"></label>
            <div class="input-group">
                <input type="text" class="form-control" aria-label="percentage">
                <span class="input-group-addon" translate="common.percentage"></span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 no-padding-lr">
            <label class="control-label" translate="tour.bookNumber"></label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
            <label class="control-label" translate="tour.totalSeat"></label>
            <input type="number" class="form-control">
        </div>
    </div>
</form>
