<form name="tourform" data-toggle="validator">
    <div class="form-group row">
        <label class="control-label" translate="tour.title"></label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group row">
        <label class="control-label" translate="tour.dayscount"></label>
        <input type="number" class="form-control">
    </div>
    <div class="form-group row">
        <label translate="tour.description"></label>
        <summernote id="description" config="options"></summernote>
    </div>
</form>