﻿<script type="text/ng-template" id="categorymodal.html">
    
        <div class="modal-header">
            <h6 class="modal-title breakword" translate="page.vehicle.category.addorupdate"></h6>
        </div>
        <div class="modal-body margin-modal" data-ng-init="init()">
            <form name="userForm" data-toggle="validator" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="item-name" class="control-label">Tên loại:</label>
                    <input type="input" class="form-control" id="item-name" ng-model="vehicleCategory.Name">
                </div>
                <div class="form-group row">
                    <label for="iconBase" class="control-label">Icon: </label>
                    <input type="file" accept="Image/*" ng-file-reader class="form-control" id="iconBase" ng-model="files">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeClick()" translate="btn.cancel"></button>
            <button type="button" class="btn info danger" ng-click="saveClick()" translate="btn.save"></button>
        </div>

</script>
