﻿<div id="companysearch-page" class="search-page">
    <div class="padding">
        <div class="row title">
            <b translate="page.vehicle.search"></b>
        </div>
        <div class="row nav-search">
            <div ng-include="'Views/vehicle/category/search.html'"></div>
        </div>
        <div class="row search-result">
            <div class="col-sm-8 no-padding">
                <b><span translate="page.vehicle.searchresults"></span> <span ng-bind="paging.totalItems"></span></b>
            </div>
            <div class="col-sm-4 no-padding text-right">
                <button class="btn default glyphicon glyphicon-plus" ng-click="showPopup(null)"></button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 no-padding">
                <div class="box">
                    <div class="table-responsive margin-top-1rem">
                        <table class="table table-striped b-t">
                            <thead>
                                <tr>
                                    <th translate="page.vehicle.sortnumber"></th>
                                    <th ng-click="sortBy('name')" translate="page.vehicle.category.name" style="width:20%;"></th>
                                    <th ng-click="sortBy('iconbase64')" translate="page.vehicle.category.iconbase64"></th>
                                    <th ng-click="sortBy('createdat')" translate="page.vehicle.createdat"></th>
                                    <th ng-click="sortBy('createdby')" translate="page.vehicle.createdby"></th>
                                    <th ng-click="sortBy('updatedat')" translate="page.vehicle.updatedat"></th>
                                    <th ng-click="sortBy('updatedby')" translate="page.vehicle.updatedby"></th>
                                    <!-- actions -->
                                    <th translate="page.vehicle.update"></th>
                                    <th translate="page.vehicle.delete"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in datas">
                                    <td ng-bind="$index + paging.currentItem"></td>
                                    <td class="breakword" ng-bind="item.Name"></td>
                                    <td class="breakword"><span ng-bind=""></span>
                                        <img src="data:image/jpeg;base64,{{item.IconBase64}}" width="32" height="32" alt="base64 test">
                                    </td>
                                    <td class="breakword" ng-bind="item.CreatedAt"></td>
                                    <td class="breakword" ng-bind="item.CreatedBy"></td>
                                    <td class="breakword" ng-bind="item.UpdatedAt"></td>
                                    <td class="breakword" ng-bind="item.UpdatedBy"></td>
                                    <td class="breakword text-center">
                                        <span class="glyphicon glyphicon-pencil account-action" aria-hidden="true" ng-click="showPopup(item)"></span>
                                    </td>
                                    <td class="breakword text-center">
                                        <span class="glyphicon glyphicon-remove account-action" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="removeItem(item)"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-include="'Views/shared/paging.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'Views/vehicle/category/categorymodal.html'"></div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-keyboard="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Bạn có muốn xóa loại phương tiện này ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteItem()">Xóa</button>
            </div>
        </div>
    </div>
</div>
