<div class="hide table-responsive margin-top-1rem" id="tb-cruise">
    <div class="col-md-12">
        <div class="row">
            <table class="table table-striped b-t" id="tb-cruise1">
                <thead>
                    <tr>
                        <th ng-click="sortBy('Id')" translate="page.member.search.shortednumber"></th>
                        <th ng-click="sortBy('Id')" translate="tour.numberOfDate"></th>
                        <th ng-click="sortBy('Email')" translate="tour.cuiseTitle"></th>
                        <th translate="tour.detail"></th>
                        <th translate="page.member.search.update"></th>
                        <th translate="page.member.search.delete"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in datas">
                        <td ng-bind="$index + paging.currentItem"></td>
                        <td class="breakword" ng-bind="item.Email">
                        </td>
                        <td class="breakword" ng-bind="item.FailedPasswordCount">
                        </td>
                        <td class="breakword" ng-bind="parseNameFromId(item.RoleId, roles)">
                        </td>
                        <td class="breakword" ng-bind="parseNameFromId(item.RoleId, roles)">
                            <td class="breakword" ng-bind="parseNameFromId(item.RoleId, roles)">
                            </td>
                            <td class="breakword ">
                                <span class="glyphicon glyphicon-pencil account-action" aria-hidden="true" ng-click="showPopup(item)"></span>
                            </td>
                            <td class="breakword">
                                <span class="glyphicon glyphicon-remove account-action" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="removeItem(item)"></span>
                            </td>
                    </tr>
                </tbody>
            </table>
            <div ng-include="'Views/tour/paging/cruise_paging.html'"></div>
        </div>
        <div class="margin-top-1rem"><h5 translate="tour.cruiseDetail"></h5></div>
        <div class="row">
            <table class="table table-striped b-t" id="tb-detail-cruise">
                <thead>
                    <tr>
                        <th ng-click="sortBy('Id')" translate="page.member.search.shortednumber"></th>
                        <th ng-click="sortBy('Id')" translate="tour.dateActive"></th>
                        <th ng-click="sortBy('Email')" translate="page.place.search.name"></th>
                        <th ng-click="sortBy('Email')" translate="page.vehicle.title"></th>
                        <th ng-click="sortBy('Email')" translate="tour.description"></th>
                        <th translate="page.member.search.update"></th>
                        <th translate="page.member.search.delete"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in datas">
                        <td ng-bind="$index + paging.currentItem"></td>
                        <td class="breakword" ng-bind="item.Email">
                        </td>
                        <td class="breakword" ng-bind="item.FailedPasswordCount">
                        </td>
                        <td class="breakword" ng-bind="parseNameFromId(item.RoleId, roles)">
                        </td>
                        <td class="breakword" ng-bind="parseNameFromId(item.RoleId, roles)">
                        </td>
                        <td class="breakword ">
                            <span class="glyphicon glyphicon-pencil account-action" aria-hidden="true" ng-click="showPopup(item)"></span>
                        </td>
                        <td class="breakword">
                            <span class="glyphicon glyphicon-remove account-action" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="removeItem(item)"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-include="'Views/tour/paging/detail_paging.html'"></div>
        </div>
    </div>
</div>
