<div class="hide" id="tb-official">
    <div class="table-responsive margin-top-1rem">
        <table class="table table-striped b-t">
            <thead>
                <tr>
                    <th ng-click="sortBy('Id')" translate="page.member.search.shortednumber"></th>
                    <th ng-click="sortBy('Id')" translate="tour.dateStart"></th>
                    <th ng-click="sortBy('Email')" translate="tour.priceAdult" style="width:20%;"></th>
                    <th ng-click="sortBy('FailedPasswordCount')" translate="tour.priceChild"></th>
                    <th ng-click="sortBy('RoleId')" translate="tour.priceInfant"></th>
                    <th ng-click="sortBy('RoleId')" translate="tour.promotionRate"></th>
                    <th ng-click="sortBy('StatusId')" translate="tour.bookNumber"></th>
                    <th ng-click="sortBy('StatusId')" translate="tour.totalSeat"></th>
                    <th ng-click="sortBy('StatusId')" translate="tour.viewNumber"></th>
                    <th translate="page.member.search.update"></th>
                    <th translate="page.member.search.delete"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in datas">
                    <td ng-bind="$index + paging.currentItem"></td>
                    <td class="breakword" ng-bind="item.Email">
                    </td>
                    <td class="breakword" ng-bind="item.FailedPasswordCount">
                    </td>
                    <td class="breakword" ng-bind="parseNameFromId(item.RoleId, roles)">
                    </td>
                    <td class="breakword" ng-bind="parseNameFromId(item.StatusId, status)"></td>
                    <td class="breakword" ng-bind="parseNameFromId(item.StatusId, status)"></td>
                    <td class="breakword" ng-bind="parseNameFromId(item.StatusId, status)"></td>
                    <td class="breakword" ng-bind="parseNameFromId(item.StatusId, status)"></td>
                    <td class="breakword ">
                        <span class="glyphicon glyphicon-pencil account-action" aria-hidden="true" ng-click="showPopup(item)"></span>
                    </td>
                    <td class="breakword">
                        <span class="glyphicon glyphicon-remove account-action" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="removeItem(item)"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-include="'Views/tour/paging/official_paging.html'"></div>
</div>
