<div class="row col-md-6 float-left">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" translate="btn.search" ng-click ="searchClick()"></button>
        <button class="btn btn-default" type="button" translate="btn.refresh" ng-click="refresh()"></button>
      </span>
    </div>
</div>