<!-- <script type="text/ng-template" id="/Views/tour/tourmodal.html"> -->
<div class="modal-header">
    <h6 class="modal-title breakword" translate="tour.tourpopup"></h6>
</div>
<div class="modal-body margin-modal" data-ng-init="init()">
    <div class="row">
        <a class="btn btn-primary collapsed" translate="tour.tour" role="button" data-toggle="collapse" href="#tour-collapse" aria-expanded="false" aria-controls="tour-collapse"></a>
        <a class="btn btn-primary collapsed" translate="tour.official" role="button" data-toggle="collapse" href="#official-collapse" aria-expanded="false" aria-controls="official-collapse"></a>
        <a class="btn btn-primary collapsed" translate="tour.cruise" role="button" data-toggle="collapse" href="#cruise-collapse" aria-expanded="false" aria-controls="cruise-collapse"></a>
        <a class="btn btn-primary collapsed" translate="tour.cruiseDetail" role="button" data-toggle="collapse" href="#detail-collapse" aria-expanded="false" aria-controls="detail-collapse" ng-show="{{activeDays}}"></a>

        <div class="collapse margin-modal" id="tour-collapse">
            <div ng-include="'Views/tour/modal/tourmod.html'"></div>
        </div>
        <div class="collapse margin-modal" id="official-collapse">
            <div ng-include="'Views/tour/modal/officialmod.html'"></div>
        </div>
        <div class="collapse margin-modal" id="cruise-collapse">
            <div ng-include="'Views/tour/modal/cruisemod.html'"></div>
        </div>

        <div class="collapse margin-modal" id="detail-collapse">
            <div ng-include="'Views/tour/modal/cruisedetailmod.html'"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeClick()" translate="btn.cancel"></button>
    <button type="button" class="btn info danger" ng-click="saveClick()" translate="btn.save"></button>
</div>
<!-- </script> -->
