﻿<div class="padding">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    Area chart
                </div>
                <div class="box-body" style="height:400px;">
                    <area-chart config="config" data="data" style="padding:0"></area-chart>
                </div>                
            </div>            
        </div>
    </div>
</div>