﻿<form name="userForm" data-toggle="validator">
    <div class="form-group row">
        <label for="account-email" class="control-label" translate="page.member.search.email"></label>
        <input type="email" class="form-control" id="account-email" ng-model="data.model.Email">
    </div>
    <div class="form-group row" id="content-password">
        <label for="account-password" class="control-label" translate="page.member.search.password"></label>
        <input type="password" class="form-control" id="account-password" ng-model="data.model.Password" min="0" max="50">
    </div>   
    <div class="form-group row">
        <div class="col-md-6 no-padding-lr">
            <label translate="page.member.search.role"></label>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="role-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="caret d-role" ng-bind="roleModel.name"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="role-dropdown">
                    <li ng-repeat="r in roles"><a href="#" ng-click="selectionChange('role', r)">{{r.name}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <label translate="page.member.search.status"></label>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="status-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="caret d-status" ng-bind="statusModel.name"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="status-dropdown">
                    <li ng-repeat="s in status"><a href="#" ng-click="selectionChange('status', s)">{{s.name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</form>