﻿<script type="text/ng-template" id="accountmodal.html">
    <div class="modal-header">
        <h6 class="modal-title breakword" translate="page.member.search.addorupdate"></h6>
    </div>
    <div class="modal-body margin-modal" data-ng-init="init()">
        <div class="row">
            <a class="btn btn-primary collapsed" translate="page.member.search.account" role="button" data-toggle="collapse"
               href="#account-collapse" aria-expanded="false" aria-controls="account-collapse" ng-click="hidePassword()"></a>
            <a class="btn btn-primary collapsed" translate="page.member.search.profile" role="button" data-toggle="collapse"
               href="#profile-collapse" aria-expanded="false" aria-controls="profile-collapse" ng-click="showImage()"></a>

            <div class="collapse margin-modal" id="account-collapse">
                <div ng-include="'Views/member/member/account.html'"></div>
            </div>
            <div class="collapse margin-modal" id="profile-collapse">
                <div ng-include="'Views/member/member/profile.html'"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeClick()" translate="btn.cancel"></button>
        <button type="button" class="btn info danger" ng-click="saveClick()" translate="btn.save"></button>
    </div>
</script>
