﻿<div id="membersearch-page" class="search-page">
    <div class="padding">
        <div class="row title">
            <b translate="page.member.search.title"></b>
        </div>
        <div class="nav-search">
            <div class="col-md-9 form-group">
                <div class="row padding-b-15">
                    <div class="col-md-4">
                        <label><b translate="page.member.search.email"></b></label>
                        <input type="text" class="form-control" placeholder="admin@gmail.com" ng-model="filter.Email">
                    </div>
                    <div class="col-md-4">
                        <label><b translate="page.member.search.createAt"></b></label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" datetimepicker ng-model="filter.createdAt">
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><b translate="page.member.search.updateAt"></b></label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" datetimepicker ng-model="filter.updatedAt">
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label><b translate="page.member.search.role"></b></label>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="role-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="caret d-role" ng-bind="selectedRole.name"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="role-dropdown">
                                <li ng-repeat="r in roles"><a href="#" ng-click="setRole(r)">{{r.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><b translate="page.member.search.status"></b></label>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="status-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="caret d-status" ng-bind="selectedStatus.name"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="status-dropdown">
                                <li ng-repeat="s in status"><a href="#" ng-click="setStatus(s)">{{s.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>&nbsp;</label>
                        <div class="input-group">
                            <button type="button" class="btn btn-danger" translate="btn.search" ng-click="searchClick()"></button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>&nbsp;</label>
                        <div class="input-group">
                            <button type="button" class="btn btn-danger" translate="btn.refresh" ng-click="refresh()"></button>
                        </div>
                    </div>                    
                </div>
            </div>  
            <div style="clear:both"></div>          
        </div>
        <div class="row search-result">
            <div class="col-sm-8 no-padding">
                <b><span translate="page.member.search.searchresults"></span> <span ng-bind="paging.totalItems"></span></b>
            </div>
            <div class="col-sm-4 no-padding text-right">
                <button class="btn default glyphicon glyphicon-plus" ng-click="showPopup(null)"></button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 no-padding">
                <div class="box">
                    <div class="table-responsive margin-top-1rem">
                        <table class="table table-striped b-t">
                            <thead>
                                <tr>
                                    <th ng-click="sortBy('Id')" translate="page.member.search.shortednumber"></th>
                                    <th ng-click="sortBy('Email')" translate="page.member.search.email" style="width:20%;"></th>
                                    <th ng-click="sortBy('FailedPasswordCount')" translate="page.member.search.FailedLoginCount"></th>
                                    <th ng-click="sortBy('RoleId')" translate="page.member.search.role"></th>
                                    <th ng-click="sortBy('StatusId')" translate="page.member.search.status"></th>
                                    <th translate="page.member.search.update"></th>
                                    <th translate="page.member.search.delete"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in datas">
                                    <td ng-bind="$index + paging.currentItem"></td>
                                    <td class="breakword" ng-bind="item.Email">
                                    </td>
                                    <td class="breakword" ng-bind="item.FailedPasswordCount">
                                    </td>
                                    <td class="breakword" ng-bind="parseNameFromId(item.RoleId, roles)">
                                    </td>
                                    <td class="breakword" ng-bind="parseNameFromId(item.StatusId, status)"></td>
                                        <td class="breakword ">
                                            <span class="glyphicon glyphicon-pencil account-action" aria-hidden="true" ng-click="showPopup(item)"></span>
                                        </td>
                                        <td class="breakword">
                                            <span class="glyphicon glyphicon-remove account-action" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="removeItem(item)"></span>
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-include="'Views/shared/paging.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'Views/member/member/accountmodal.html'"></div>