﻿<form name="userprofile" data-toggle="validator">
    <div class="form-group row">
        <label class="control-label" translate="page.member.search.username"></label>
        <input type="text" class="form-control" ng-model="data.model.AccountProfile.Username">
    </div>
    <div class="form-group row">
        <label class="control-label" translate="page.member.search.fullname"></label>
        <input type="text" class="form-control" ng-model="data.model.AccountProfile.FullName">
    </div>
    <div class="form-group row">
        <label class="control-label" translate="page.member.search.birthday"></label>
        <div class="input-group">
          
            <div class="input-group">
                <input type="text" class="form-control input-sm"
                      ng-model="data.model.AccountProfile.Birthday"
                       data-date-format="dd MMM yyyy"
                       data-autoclose="true"
                       data-icon-left="fa fa-chevron-left"
                       data-icon-right="fa fa-chevron-right"
                       name="date"
                       bs-datepicker>
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label" translate="page.member.search.phoneNumber"></label>
        <input type="number" class="form-control" ng-model="data.model.AccountProfile.PhoneNumber" />
    </div>
    <div class="form-group row">
        <label class="control-label" translate="page.member.search.ssn"></label>
        <input type="number" class="form-control" ng-model="data.model.AccountProfile.Ssn" />
    </div>
    <div class="form-group row">
        <label class="control-label" translate="page.member.search.imageUrl"></label><br/>
        <input type="file" accept="Image/*" ng-file-reader ng-model="data.files" id="avatar"/>
        <button ng-click="uploadImage()" translate="common.upload"></button><br />
        <img id="avatar-img"/>
    </div>
    <div class="form-group row">
        <label class="control-label" translate="page.member.search.address"></label>
        <textarea class="form-control" ng-model="data.model.AccountProfile.Address" rows="5" maxlength="250"/>
    </div>
</form>