﻿<div class="row">
    <div class="form-group margin-top-1rem col-lg col-md">
        <div class="col-md-3">
            <label><b translate="page.member.search.email"></b></label>
            <input type="text" class="form-control" placeholder="admin@gmail.com" ng-model="filter.Email">
        </div>
        <div class="col-md-2">
            <label><b translate="page.member.search.createAt"></b></label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" datetimepicker ng-model="filter.createdAt">
                <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <label><b translate="page.member.search.updateAt"></b></label>
            <div class="input-group">
                <input type="text" class="form-control input-sm" datetimepicker ng-model="filter.updatedAt">
                <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <label><b translate="page.member.search.role"></b></label>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="role-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="caret d-role" ng-bind="selectedRole.name"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="role-dropdown">
                    <li ng-repeat="r in roles"><a href="#" ng-click="setRole(r)">{{r.name}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <label><b translate="page.member.search.status"></b></label>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="status-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="caret d-status" ng-bind="selectedStatus.name"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="status-dropdown">
                    <li ng-repeat="s in status"><a href="#" ng-click="setStatus(s)">{{s.name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row margin-bottom-1">
    <div class="col-md-3 col-sm-3 margin-left-1">
        <br />
        <button type="button" class="btn btn-danger" translate="btn.search" ng-click="searchClick()"></button>
        <button type="button" class="btn btn-danger" translate="btn.refresh" ng-click="refresh()"></button>
    </div>
</div>
