<footer class="dker p-a">
    <div class="row">
        <div class="col-sm-8">
            <small class="text-muted inline m-t-sm m-b-sm"
                   translate="page.paging.itemperpage"
                   translate-values="{ pagesize: paging_official.currentItem, total: paging_official.totalItems }"></small>
        </div>
        <div class="col-sm-4 text-right">
            <ul class="pagination pagination-sm m-a-0">
                <li ng-hide="commonService.disableButton('pre', paging_official.currentPage, paging_official.totalPage)"><a ng-click="(paging_official.currentPage <= 1) || searchPageChange('pre')"><i class="fa fa-chevron-left"></i></a></li>
                <li ng-if="commonService.showPage('first', paging_official.currentPage, paging_official.totalPage)"><a ng-click="searchPageChange('', 1)">1</a></li>
                <li ng-if="commonService.showPage('moreleft', paging_official.currentPage, paging_official.totalPage)"><a style="cursor: auto">...</a></li>
                <li ng-if="commonService.showPage('pre', paging_official.currentPage, paging_official.totalPage)"><a ng-bind="paging_official.currentPage - 1" ng-click="searchPageChange('pre')"></a></li>
                <li class="active"><a ng-bind="paging_official.currentPage"></a></li>
                <li ng-if="commonService.showPage('nxt', paging_official.currentPage, paging_official.totalPage)"><a ng-bind="paging_official.currentPage + 1" ng-click="searchPageChange('nxt')"></a></li>
                <li ng-if="commonService.showPage('moreright', paging_official.currentPage, paging_official.totalPage)"><a style="cursor: auto">...</a></li>
                <li ng-if="commonService.showPage('last', paging_official.currentPage, paging_official.totalPage)"><a ng-bind="paging_official.totalPage" ng-click="searchPageChange('', paging_official.totalPage)"></a></li>
                <li ng-hide="commonService.disableButton('nxt', paging_official.currentPage, paging_official.totalPage)"><a ng-click="(paging_official.currentPage >= paging_official.totalPage) || searchPageChange('nxt')"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
        </div>
    </div>
</footer>