<div class="app-footer white">
  <div ui-include="'../views/shared/footer.html'"></div>
</div>
<div class="app-body indigo bg-auto w-full">
  <div class="text-center pos-rlt p-y-md">
    <h1 class="text-shadow text-white text-4x">
      <span class="text-2x font-bold block m-t-lg">505</span>
    </h1>
    <p class="h5 m-y-lg text-u-c font-bold">Don't worry, we will fix it soon.</p>
    <p>
      Thanks!
    </p>
  </div>
</div>
