﻿  <div class="center-block w-xxl w-auto-xs p-y-md">
    <div id="content-loading" ng-class="isContentLoading ? 'loader-visible' : 'loader-invisible'" class="wrap-loader" ng-include="'/Views/shared/_loader.html'"></div>
    <div class="navbar">
      <div class="pull-center">
        <div ui-include="'../views/shared/navbar.brand.html'"></div>
      </div>
    </div>
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="m-b text-sm">
        Đăng nhập {{app.name}} với tài khoản của bạn
      </div>
      <form name="form">
        <div class="md-form-group float-label">
          <input type="text" class="md-input" style="margin-top:12px" ng-model="user.email" required tabindex="1" placeholder="Nhập email hoặc tài khoản của bạn">
          <label>Tài khoản</label>
        </div>
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="user.password" required tabindex="2">
          <label>Mật khẩu</label>
        </div>      
        <div class="m-b-md">        
          <label class="md-check">
            <input type="checkbox" tabindex="3"><i class="primary"></i> Duy trì đăng nhập
          </label>
        </div>
        <button type="submit" class="btn primary btn-block p-x-md" ng-click="signIn()" tabindex="4">Đăng nhập</button>
      </form>
    </div>

    <div class="p-v-lg text-center">
      <div class="m-b"><a ui-sref="access.forgot-password" href="#/access/forgot-password" class="text-primary _600">Quên mật khẩu?</a></div>
      <div>Bạn chưa có tài khoản? <a ui-sref="access.signup" href="#/access/signup" class="text-primary _600">Đăng ký</a></div>
    </div>
  </div>
